<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>API Pessoa</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" valign="top" bgcolor="#FFFFFF"
            style="background-color: #FFFFFF;"><br> <br>
            <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="top" bgcolor="#d3be6c"
                        style="padding: 20px; background-color: rgb(241, 222, 48); color: black; font-size: 30px; text-align: center; border-radius: 10px;">
                        <div>
                            <h1>Olá, ${nome} </h1>
                        </div>

                        <div style="padding: 20px;
                                    background-color: aliceblue;
                                    color: black;
                                    font-size: 24px;
                                    font-weight: 700;">
                            <p>Estamos felizes em informar que você alugou o filme ${filme}</p>
                            <p>O valor total da sua locação na data: ${data} é de ${valor} reais</p>
                        </div>
                        <div style="background-color: black;
                                    color: rgb(241, 222, 48);
                                    text-align: center;
                                    padding: 20px;
                                    font-size: 16px;">

                            <p>Qualquer dúvida é só contatar o suporte pelo br <br>e-mail ${email}</p>
                            <p>Att, <br>Sistema.</p>
                        </div>
                    </td>
                </tr>
            </table> <br> <br></td>
    </tr>
</table>
</body>
</html>